<section class="animated fadeInRight">
    <div id="userPlaylist">
        {if !isset($user)}
        <div class="bg-primary wrapper-md r">
            <a href="/login"> <span class="h4 m-b-xs block"><i class=" icon-user-follow i-lg"></i> Login or Create account</span> <span class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span> </a>
        </div>
        {/if}
        {else}
        <a href="#" class="btn btn-success" id="savePlaylist"><i class="icon-plus"></i> Save Playlist</a>
        {/else}
        <a href="#" class="btn btn-warning hide" id="clearPlaylist"><i class="icon-edit"></i> Clear Playlist</a>
        <div id="userTracks"></div>
    </div>
</section>
