<!-- .aside -->
<aside class="bg-black dk nav-xs aside hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav bg clearfix">
                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"> Discover </li>
                        <li>
                            <a href="/"> <i class="icon-disc icon text-success"></i> <span class="font-bold">Whats new</span> </a>
                        </li>
                        <li>
                            <a href="/genres/all"> <i class="icon-music-tone-alt icon text-info"></i> <span class="font-bold">Genres</span> </a>
                        </li>
                        <li>
                            <a href="/artists/top"> <i class="icon-list icon text-info-dker"></i> <span class="font-bold">Artists</span> </a>
                        </li>
                        <li>
                            <a href="/tracks/top"> <i class="icon-music-tone icon"></i> <span class="font-bold">Tracks</span> </a>
                        </li>
                        <li>
                            <a href="/videos"> <i class="icon-social-youtube icon text-primary"></i> <span class="font-bold">Videos</span> </a>
                        </li>
                        <li class="m-b hidden-nav-xs"></li>
                    </ul>
                </nav>
                <!-- / nav -->
            </div>
        </section>
    </section>
</aside>
<!-- /.aside -->
