<!-- .aside -->
<aside class="bg-black dk nav-xs aside hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav bg clearfix">
                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"> Discover </li>
                        <li>
                            <a href="/"> <i class="icon-disc icon text-success"></i> <span class="font-bold">Whats new</span> </a>
                        </li>
                        <li>
                            <a href="/genres/all"> <i class="icon-music-tone-alt icon text-info"></i> <span class="font-bold">Genres</span> </a>
                        </li>
                        <li>
                            <a href="/artists/top"> <i class="icon-list icon text-info-dker"></i> <span class="font-bold">Artists</span> </a>
                        </li>
                        <li>
                            <a href="/tracks/top"> <i class="icon-music-tone icon"></i> <span class="font-bold">Tracks</span> </a>
                        </li>
                        <li>
                            <a href="/videos"> <i class="icon-social-youtube icon text-primary"></i> <span class="font-bold">Videos</span> </a>
                        </li>
                        <li class="m-b hidden-nav-xs"></li>
                    </ul>
                </nav>
                <!-- / nav -->
            </div>
        </section>
        {if isset($user)}
        <footer class="footer hidden-xs no-padder text-center-nav-xs">
            <div class="bg hidden-xs ">
                <div class="dropdown dropup wrapper-sm clearfix">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left m-l-xs"> <img src="" class="dker" alt="Pic"> <i class="on b-black"></i> </span> <span class="hidden-nav-xs clear"> <span class="block m-l"> <strong class="font-bold text-lt">{echo $user->name}</strong> <b class="caret"></b> </span> <span class="text-muted text-xs block m-l">Art Director</span> </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight aside text-left">
                        <li> <span class="arrow bottom hidden-nav-xs"></span> <a href="#">Settings</a> </li>
                        <li> <a href="/profile">Profile</a> </li>
                        <li> <a href="#">Help</a> </li>
                        <li class="divider"></li>
                        <li> <a href="/logout">Logout</a> </li>
                    </ul>
                </div>
            </div>
        </footer>
        {/if}
    </section>
</aside>
<!-- /.aside -->
