<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-cloud-download"></i> Downloaded: {echo $total}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form class="pull-right form-inline" action="" method="get">
                <div class="form-group">
                    <label for="perPage">Per Page:</label>
                    <input size="3" type="text" maxlength="3" pattern="[1-9]{1}[0-9}{1,2}" name="limit" value="{echo $limit}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pageNo">Page No:</label>
                    <input size="3" type="text" name="page" value="{echo $page}" class="form-control">
                </div>
                <!-- <div class="form-group">
                <label for="pageNo">Order By:</label>
                <select class="form-control" name="orderBy">
                    <option value="id">Id</option>
                    <option value="created" selected="">Created</option>
                    <option value="modified">Modified</option>
                </select> 
            </div> -->
                <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Go</button>
            </form>
            <h3 class="pull-left">Search Result: <div class="label label-success">{echo $count}</div> Songs</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-center">Top Downloads</p>
                </div>
                <!-- /.panel-heading -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Track</th>
                            <th>Artist</th>
                            <th>Count</th>
                            <th>Youtube ID</th>
                            <th>Last Downloaded</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $i = 1} {foreach $r in $results}
                        <tr>
                            <td>{echo $i}</td>
                            <td>{echo $r->track}</td>
                            <td>{echo $r->artist}</td>
                            <td>{echo $r->count}</td>
                            <td><a href="https://youtube.com/watch?v={echo $r->yid}" target="_blank">{echo $r->yid}</a></td>
                            <td>{echo Framework\StringMethods::datetime_to_text($r->last)}</td>
                        </tr>
                        {script ++$i} {/foreach}
                    </tbody>
                </table>
                <div class="panel-body">
                    <div class="text-center">
                        {if($page != 1)}
                        <a href="{echo Shared\Markup::pagination($page - 1)}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Previous</a>
                        {/if} 
                        {if($page < $count/$limit)}
                        <a href="{echo Shared\Markup::pagination($page + 1)}" class="btn btn-primary">Next <i class="fa fa-arrow-right"></i></a>
                        {/if}
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
