<section class="hbox stretch">
    {include layouts/navigation/standard.html}
    {include home/play_video.html}
    <section id="content">
        <section class="hbox stretch">
            <section>
                <section class="vbox" id="bjax-el">
                    <section class="scrollable wrapper-lg">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="panel wrapper-lg">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img src="{echo $track->image}" class="img-full m-b"> </div>
                                            <div class="col-sm-7">
                                                <h2 class="m-t-none text-black">{echo $track->name}</h2>
                                                <h3 class="m-t-none text-grey">{echo $track->artist}</h3>
                                                <h4 class="m-t-none text-grey">{echo $track->album}</h4>
                                                <div class="clearfix m-b-lg">
                                                    <h6 class="page-heading">Play Count: <strong>{echo $track->playCount}</strong></h6>
                                                    <h6 class="page-heading">Duration: <strong>{echo $track->duration}</strong></h6>

                                                    <a href="#" class="btn btn-info playThisTrack" data-artist="{echo $track->artist}" data-track="{echo $track->name}" data-mbid="{echo $track->mbid}"><i class="icon-control-play"></i> Play</a>

                                                    <a href="#" class="btn btn-success playThisVideo" data-artist="{echo $track->artist}" data-track="{echo $track->name}"><i class="icon-social-youtube icon"></i> Video</a>

                                                    <a href="#" class="btn btn-default findLyrics" data-artist="{echo $track->artist}" data-track="{echo $track->name}" data-mbid="{echo $track->mbid}"><i class="fa fa-music"></i> Lyrics</a>
                                                </div>
                                                <div> Tags:
                                                {foreach $tag in $track->tags}
                                                    <a href="/genres/{echo Framework\StringMethods::url($tag->name)}" class="badge bg-light">{echo $tag->name}</a>
                                                {/foreach}
                                                </div>
                                            </div>
                                    </div>
                                    <div class="m-t">
                                        <p>{echo $track->wiki}</p>
                                    </div>
                                    <h4 class="m-t-lg m-b">Play List</h4>
                                    <ul class="list-group list-group-lg">
                                    {foreach $t in $tracks}
                                        <li class="list-group-item">
                                            <div class="pull-right m-l">
                                                <a href="/tracks/view/{echo Framework\StringMethods::url($t->name)}/{echo Framework\StringMethods::url($track->artist)}" target="_blank" data-artist="{echo $track->artist}" data-track="{echo $t->name}" data-mbid="{echo $t->mbid}"><i class="m-r-sm icon-info"></i></a>
                                                <a href="#" class="m-r-sm addToPlaylist" data-artist="{echo $track->artist}" data-track="{echo $t->name}" data-mbid="{echo $t->mbid}"><i class="icon-plus"></i></a>
                                            </div>
                                            <a href="#" class="jp-play-me m-r-sm pull-left playThisTrack" data-artist="{echo $track->artist}" data-track="{echo $t->name}" data-mbid="{echo $t->mbid}"> <i class="icon-control-play text"></i> <i class="icon-control-pause text-active"></i> </a>
                                            <div class="clear text-ellipsis"> <span>{echo $t->name}</span> </div>
                                        </li>
                                    {/foreach}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Similar Tracks</div>
                                    <div class="panel-body">
                                        {foreach $s in $similar}
                                        <article class="media">
                                            <a href="#" class="pull-left thumb-md m-t-xs">
                                                <img src="{echo $s->thumbnail}"> </a>
                                            <div class="media-body">
                                                <a href="/tracks/view/{echo Framework\StringMethods::url($s->name)}/{echo Framework\StringMethods::url($s->artist)}" data-mbid="{echo $s->mbid}" class="font-semibold">{echo $s->name}</a>
                                                <div class="text-xs block m-t-xs">
                                                    <a href="#" class="playThisTrack" data-artist="{echo $s->artist}" data-track="{echo $s->name}" data-mbid="{echo $s->mbid}" class="jp-play-me m-r-sm pull-left playThisTrack"> <i class="icon-control-play text"></i> <i class="icon-control-pause text-active"></i> </a>
                                                    <a href="/artists/view/{echo Framework\StringMethods::url($s->artist)}">{echo $s->artist}</a>
                                                </div>
                                            </div>
                                        </article>
                                        {/foreach}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="footer bg-info dker">
                        {include layouts/navigation/footers.html}
                    </footer>
                </section>
            </section>
            <!-- side content -->
            <aside class="aside-md bg-light dk" id="sidebar">
                {include layouts/navigation/sidebar.html}
            </aside>
            <!-- / side content -->
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
</section>
