<!DOCTYPE html>
<html lang="en" class="app">

<head>
    <meta charset="utf-8" />
    <title>{echo $seo->getTitle()}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="description" content="{echo strip_tags($seo->getDescription())}, app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav, " />
    <meta name="keywords" content="{echo strip_tags($seo->getKeywords())}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{echo CDN}plugins/jPlayer/jplayer.flat.css" type="text/css" />
    <link rel="stylesheet" href="{echo CDN}css/app.v1.css" type="text/css" />
    <meta name="author" content="Hemant Mann">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .trackName {
            font-size: larger;
        }
    </style>
</head>
<body class="{if isset($change)} bg-info {/if}">
    <div id="ytplayer" class="hide"></div>
    <section class="vbox">
    {if isset($user) && isset($playlists)}
        {include users/modals/change_playlist.html}
        {include users/modals/edit_playlist.html}
    {/if}
    {if !isset($change)}
        {include layouts/navigation/headers.html}
    {/if}
    {include home/modals/alert.html}
    {include home/modals/download.html}
        <section>
            {ayield action}
        </section>
    </section>
    
    <script src="{echo CDN}js/app.v1.js"></script>
    <script src="{echo CDN}js/app.plugin.js"></script>
    <script type="text/javascript" src="{echo CDN}plugins/jPlayer/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="{echo CDN}js/iframe_api.js"></script>
    <script type="text/javascript" src="{echo CDN}js/model.js"></script>
    <script type="text/javascript" src="{echo CDN}js/public.js"></script>
    <script type="text/javascript" src="{echo CDN}js/playsong.js"></script>

</body>

</html>
