<section class="hbox stretch">
    {include layouts/navigation/standard.html}
    <section id="content">
        <a href="javascript:;" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        <section class="vbox">
            <section id="ajax-container">
                <section class="vbox">
                    <section class="scrollable padder-lg">
                        <header>
                            <h1 class="font-thin h2 m-t m-b">Musik | Blog: Latest News</h1>
                        </header>
                        <!-- .page-header -->
                        <div class="row">
                            <div class="col-sm-9">
                                
                                {foreach $p in $posts}
                                <!-- #post-## -->
                                <article id="post-{echo $p->id}" class="post-item post-{echo $p->id} post type-post status-publish format-standard hentry category-blog even">
                                    <div class="wrapper-lg">
                                        <header class="entry-header post-title">
                                            <h2 class="entry-title m-t-none">
                                                <a href="/blog/post/{echo Framework\StringMethods::url($p->title)}/{echo $p->id}" rel="bookmark">{echo $p->title}</a>
                                            </h2>
                                            <div class="entry-meta m-b-md">
                                                <span class="posted-on"><i class="icon-clock icon-muted m-r-xs"></i>Posted on
                                                    <a href="#" rel="bookmark">
                                                        <time class="entry-date published updated" datetime="">{echo Framework\StringMethods::only_date($p->created)}</time>
                                                    </a>
                                                </span>
                                            </div>
                                            <!-- .entry-meta -->
                                        </header>
                                        <!-- .entry-header -->
                                        <div class="entry-content">
                                            {echo substr($p->content, 0, 300)}
                                        </div>
                                        <!-- .entry-content -->
                                        <footer class="entry-footer text-muted m-t-md">
                                            <span class="cat-links"><i class="icon-direction icon-muted m-r-xs"></i>Posted in
                                                <a href="#" rel="category tag">Blog</a>
                                            </span>
                                            <!-- <span class="comments-link"><i class="icon-speech icon-muted m-r-xs"></i>
                                                <a href="#">Leave a comment</a>
                                            </span> -->
                                        </footer>
                                        <!-- .entry-footer -->
                                    </div>
                                </article>
                                {/foreach}
                            </div>
                            <div class="col-sm-3">
                                <aside>
                                    <div class="widget-2 widget-even widget-alt widget_music_post_widget widget">
                                        <h4 class="widget-title">Top Downloads</h4>
                                        <div class="list-group list-group-lg">
                                            {script $i = 1}
                                            {foreach $r in $results}
                                            <div class="list-group-item">
                                                <article id="post-{echo $r->id}" class="item hover m-b-none clearfix post-{echo $r->id} type-download status-publish has-post-thumbnail hentry even edd-download">
                                                    <div class="pos-rlt pull-left m-r">
                                                        {echo $i}
                                                    </div>
                                                    {script $track = SavedTrack::first(array("id = ?" => $r->strack_id), array("artist", "track"))}
                                                    <div class="clear">
                                                        <a href="/tracks/view/{echo Framework\StringMethods::url($track->track)}/{echo Framework\StringMethods::url($track->artist)}" data-pjax title="{echo $track->track}" target="_blank" class="text-ellipsis font-bold">{echo $track->track}</a>
                                                        <div class="text-muted text-sm text-ellipsis">by
                                                            <a href="/artists/view/{echo Framework\StringMethods::url($track->artist)}" target="_blank" rel="tag">{echo $track->artist}</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            {script ++$i}
                                            {/foreach}
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
