<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Add Artist</h1>
            <h3 class="page-heading">Album: <a href="/albums/view/{echo Framework\StringMethods::url($album->title)}/{echo $album->id}">{echo $album->title}</a></h3>
            {if isset($success)}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {echo $success}
            </div><br>
            {/if}
            <form method="post" action="">
                <div class="panel panel-default panel-body">
                    <div class="form-group">
                        <label>Name *</label>
                        <input type="text" autofocus name="artist" list="artists" placeholder="Name of the artist.." class="form-control" maxlength="255" required="" autocomplete="on">
                        <datalist id="artists">
                        {foreach $artist in $artists}
                            <option value="{echo $artist->name}">
                        {/foreach}
                        </datalist>
                    </div>

                    <input type="hidden" name="action" value="addArtist">
                    <p style="color: red; font-weight: bold;">* fields are required.</p>
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>