<section class="hbox stretch">
    {include layouts/navigation/standard.html}
    <section id="content">
        <section class="vbox">
            <section class="w-f-md" id="bjax-target">
                <section class="hbox stretch">
                    <!-- side content -->
                    <aside class="aside bg-light dk" id="sidebar">
                        <section class="vbox animated fadeInUp">
                            <section class="scrollable hover">
                                <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                                    <a href="/genres/all" class="list-group-item"> All</a>
                                {foreach $tag in $tags}
                                    <a href="/genres/{echo Framework\StringMethods::url($tag->name)}" class="list-group-item"> {echo ucfirst($tag->name)}</a>
                                {/foreach}
                                </div>
                            </section>
                        </section>
                    </aside>
                    <!-- / side content -->
                    <section>
                        <section class="vbox">
                            <section class="scrollable padder-lg">
                                <h2 class="font-thin m-b">{echo $genre}</h2>
                                <div class="row row-sm">
                                {foreach $track in $tracks}
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity r r-2x bg-black">
                                                    <div class="center text-center m-t-n">
                                                        <a href="#" class="playThisTrack" data-mbid="{echo $track->mbid}" data-artist="{echo $track->artist}"><i class="fa fa-play-circle i-2x"></i></a>
                                                    </div>
                                                </div>
                                                <a href="#">
                                                    <img src="{echo $track->image}" alt="Track Image" class="r r-2x img-full">
                                                </a>
                                            </div>
                                            <div class="padder-v">
                                                <a href="/tracks/view/{echo Framework\StringMethods::url($track->name)}/{echo Framework\StringMethods::url($track->artist)}" data-replace="true" class="text-ellipsis" data-mbid="{echo $track->mbid}" data-artist="{echo $track->artist}">{echo $track->name}</a>
                                                <a href="/artists/view/{echo Framework\StringMethods::url($track->artist)}" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">{echo $track->artist}</a>
                                            </div>
                                        </div>
                                    </div>
                                {/foreach}
                                </div>
                                <ul class="pagination pagination">
                                    <li>
                                        <a href="#"><i class="fa fa-chevron-left"></i></a>
                                    </li>
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">5</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <footer class="footer bg-info dker">
                {include layouts/navigation/footers.html}
            </footer>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
</section>
