<section class="hbox stretch">
    {include layouts/navigation/standard.html}
    <section id="content">
        <section class="hbox stretch">
            <section>
                {if !isset($results)}
                <section class="vbox">
                    <section class="scrollable padder-lg w-f-md" id="bjax-target">
                        <a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin"><i class="icon-refresh i-lg inline" id="refresh"></i></a>
                        <h2 class="font-thin m-b">Discover <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px"> <span class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span class="bar3 a3 bg-success"></span> <span class="bar4 a4 bg-warning dk"></span> <span class="bar5 a5 bg-danger dker"></span> </span>
                        </h2>
                        <div class="row row-sm">
                        {foreach $art in $artists}
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="text-info padder m-t-sm text-sm">
                                                {foreach $c in $count}
                                                <i class="fa fa-star"></i>
                                                {/foreach}
                                            </div>
                                            <div class="center text-center m-t-n">
                                                <a href="/artists/view/{echo Framework\StringMethods::url($art->name)}" data-mid="{echo $art->mbid}"><i class="icon-info i-2x"></i></a>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <img src="{echo $art->image}" alt="" class="r r-2x img-full">
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a href="/artists/view/{echo Framework\StringMethods::url($art->name)}" data-mbid="{echo $art->mbid}" class="text-ellipsis">{echo $art->name}</a>
                                    </div>
                                </div>
                            </div>
                        {/foreach}
                        </div>
                        <div class="row m-t-lg m-b-lg">
                            <div class="col-sm-12">
                                <div class="bg-primary wrapper-md r">
                                    <a href="/login"> <span class="h4 m-b-xs block"><i class=" icon-user-follow i-lg"></i> Login or Create account</span> <span class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span> </a>
                                </div>
                            </div>
                            <!--
                            <div class="col-sm-6">
                                <div class="bg-black wrapper-md r">
                                    <a href="#"> <span class="h4 m-b-xs block"><i class="icon-cloud-download i-lg"></i> Download our app</span> <span class="text-muted">Get the apps for desktop and mobile to start listening music at anywhere and anytime.</span> </a>
                                </div>
                            </div>-->
                        </div>
                    </section>
                    <footer class="footer bg-dark">
                        {include layouts/navigation/footers.html}
                    </footer>
                </section>
                {/if} {else}
                <section class="vbox" id="bjax-el">
                    <section class="scrollable padder-lg">
                        <h1 class="font-thin m-b">Your Results</h1>
                        <div class="row row-sm">
                            {foreach $result in $results}
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a data-toggle="modal" target="_blank" data-id="{echo $result->mbid}" href="{echo $result->url}" class="play text-ellipsis"><i class="fa fa-play-circle i-2x"></i></a>
                                            </div>
                                        </div>
                                        <img src="{echo $result->image}" alt="" class="r r-2x img-full">
                                    </div>
                                    <div class="padder-v">
                                        <h5 class="page-heading">Artist: <strong><a href="{echo $result->url}" class="play text-ellipsis">{echo $result->artist}</a></strong></h5>
                                    </div>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </section>
                </section>
                {/else}
            </section>
            <!-- side content -->
            <aside class="aside-md bg-light dk" id="sidebar">
                {include layouts/navigation/sidebar.html}
            </aside>
            <!-- / side content -->
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
</section>
