<section class="hbox stretch">
    {include layouts/navigation/standard.html}
    <section id="content">
        <section class="vbox">
            <section class="w-f-md">
                <section class="hbox stretch bg-black dker">
                    <!-- side content -->
                    <aside class="col-sm-7 no-padder" id="sidebar">
                        <section class="vbox animated fadeInUp">
                            <section class="scrollable">
                            {if isset($artist)}
                                <div class="m-t-n-xxs item pos-rlt">
                                    <div class="top text-right"> <span class="musicbar animate bg-success bg-empty inline m-r-lg m-t" style="width:25px;height:30px"> <span class="bar1 a3 lter"></span> <span class="bar2 a5 lt"></span> <span class="bar3 a1 bg"></span> <span class="bar4 a4 dk"></span> <span class="bar5 a2 dker"></span> </span>
                                    </div>
                                    <div class="bottom gd bg-info wrapper-lg"> <span class="pull-right text-sm">{echo $artist->listeners} <br>Play Count</span> <span class="h2 font-thin">{echo $artist->name}</span> </div>
                                    <img class="img-full" src="{echo $artist->image}" alt="...">
                                </div>
                                <ul class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                                    {foreach $track in $tracks}
                                    <li class="list-group-item">
                                        <div class="pull-right m-l">
                                            <a href="#" class="m-r-sm viewTrackInfo" data-mbid="{echo $track->mbid}"><i class="icon-info"></i></a>
                                            <a href="#" class="m-r-sm"><i class="icon-cloud-download"></i></a>
                                            <a href="#" class="m-r-sm"><i class="icon-plus"></i></a>
                                            <a href="#"><i class="icon-close"></i></a>
                                        </div>
                                        <a href="#" class="jp-play-me m-r-sm pull-left playThisTrack" data-artist="{echo $track->artist}" data-track="{echo $track->name}"> <i class="icon-control-play text"></i> <i class="icon-control-pause text-active"></i> </a>
                                        <div class="clear text-ellipsis"> <span>{echo $track->name}</span> <span class="text-muted"></span> </div>
                                    </li>
                                    {/foreach}
                                </ul>
                            {/if}
                            </section>
                        </section>
                    </aside>
                    <!-- / side content -->
                    <section class="col-sm-5 no-padder bg">
                        <section class="vbox">
                            <section class="scrollable hover">
                                <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">
                                    <h2 class="font-thin m-b">Similar Artists</h2>
                                    {foreach $s in $similar}
                                    <li class="list-group-item clearfix">
                                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md"> <i class="icon-control-play text"></i> <i class="icon-control-pause text-active"></i> </a>
                                        <a href="#" class="pull-left thumb-sm m-r">
                                            <img src="{echo $s->thumbnail}" alt="Artist Image"> </a>
                                        <a class="clear" href="/artists/view/{echo urlencode($s->name)}"> <span class="block text-ellipsis">{echo $s->name}</span> </a>
                                    </li>
                                    {/foreach}
                                </ul>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <footer class="footer bg-success dker">
                <div id="jp_container_N">
                    <div class="jp-type-playlist">
                        <div id="jplayer_N" class="jp-jplayer hide"></div>
                        <div class="jp-gui">
                            <div class="jp-video-play hide">
                                <a class="jp-video-play-icon">play</a>
                            </div>
                            <div class="jp-interface">
                                <div class="jp-controls">
                                    <div>
                                        <a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a>
                                    </div>
                                    <div>
                                        <a class="jp-play"><i class="icon-control-play i-2x"></i></a>
                                        <a class="jp-pause hid"><i class="icon-control-pause i-2x"></i></a>
                                    </div>
                                    <div>
                                        <a class="jp-next"><i class="icon-control-forward i-lg"></i></a>
                                    </div>
                                    <div class="hide">
                                        <a class="jp-stop"><i class="fa fa-stop"></i></a>
                                    </div>
                                    <div>
                                        <a class="" data-toggle="dropdown" data-target="#playlist"><i class="icon-list"></i></a>
                                    </div>
                                    <div class="jp-progress hidden-xs">
                                        <div class="jp-seek-bar dk">
                                            <div class="jp-play-bar bg"> </div>
                                            <div class="jp-title text-lt">
                                                <ul>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted"></div>
                                    <div class="hidden-xs hidden-sm jp-duration text-xs text-muted"></div>
                                    <div class="hidden-xs hidden-sm">
                                        <a class="jp-mute" title="mute"><i class="icon-volume-2"></i></a>
                                        <a class="jp-unmute hid" title="unmute"><i class="icon-volume-off"></i></a>
                                    </div>
                                    <div class="hidden-xs hidden-sm jp-volume">
                                        <div class="jp-volume-bar dk">
                                            <div class="jp-volume-bar-value lter"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="jp-shuffle" title="shuffle"><i class="icon-shuffle text-muted"></i></a>
                                        <a class="jp-shuffle-off hid" title="shuffle off"><i class="icon-shuffle text-lt"></i></a>
                                    </div>
                                    <div>
                                        <a class="jp-repeat" title="repeat"><i class="icon-loop text-muted"></i></a>
                                        <a class="jp-repeat-off hid" title="repeat off"><i class="icon-loop text-lt"></i></a>
                                    </div>
                                    <div class="hide">
                                        <a class="jp-full-screen" title="full screen"><i class="fa fa-expand"></i></a>
                                        <a class="jp-restore-screen" title="restore screen"><i class="fa fa-compress text-lt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jp-playlist dropup" id="playlist">
                            <ul class="dropdown-menu aside-xl dker">
                                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                                <li class="list-group-item"></li>
                            </ul>
                        </div>
                        <div class="jp-no-solution hide"> <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your
                            <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>. </div>
                    </div>
                </div>
            </footer>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
</section>
