<section class="hbox stretch">
    {include layouts/navigation/standard.html}
    {include home/play_video.html}
    <section id="content">
        <section class="hbox stretch">
            <section>
                <section class="vbox">
                    <section class="scrollable padder-lg w-f-md" id="bjax-target">
                        <h1 class="font-thin m-b">{echo ucfirst($type)."s"} List:</h1>
                        <div class="row row-sm">
                        {if $type == "song"}
                        {foreach $track in $results}
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#jp_container_N" class="playThisTrack" data-track="{echo $track->name}" data-mbid="{echo $track->mbid}" data-artist="{echo $track->artist}"><i class="fa fa-play-circle i-2x"></i></a>
                                            </div>
                                            <div class="bottom padder m-b-sm">
                                                <a href="/tracks/view/{echo Framework\StringMethods::url($track->name)}/{echo Framework\StringMethods::url($track->artist)}" class="pull-right"> <i class="fa fa-info"></i> </a>
                                                <a href="#" data-track="{echo $track->name}" data-mbid="{echo $track->mbid}" data-artist="{echo $track->artist}" class="addToPlaylist"> <i class="fa fa-plus-circle"></i> </a>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <img src="{echo $track->image}" alt="Track Image" class="r r-2x img-full">
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a href="/tracks/view/{echo Framework\StringMethods::url($track->name)}/{echo Framework\StringMethods::url($track->artist)}" data-replace="true" class="text-ellipsis" data-mbid="{echo $track->mbid}" data-artist="{echo $track->artist}">{echo $track->name}</a>
                                        <a href="/artists/view/{echo Framework\StringMethods::url($track->artist)}" data-replace="true" class="text-ellipsis text-xs text-muted">{echo $track->artist}</a>
                                    </div>
                                </div>
                            </div>
                        {/foreach}
                        {/if}
                        {elseif $type == "video"}
                        {foreach $result in $results}
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a data-track="{echo $result->title}" data-yid="{echo $result->videoId}" href="#" class="playThisVideo"><i class="fa fa-play-circle i-2x"></i></a>
                                            </div>
                                        </div>
                                        <img src="{echo $result->img}" alt="" class="r r-2x img-full">
                                    </div>
                                    <div class="padder-v">
                                        <a data-track="{echo $result->title}" data-replace="true" data-yid="{echo $result->videoId}" href="#" class="playThisVideo text-ellipsis">{echo $result->title}</a>
                                    </div>
                                </div>
                            </div>
                        {/foreach}
                        {/elseif}
                        {elseif isset($error)}
                            {echo $error}
                        {/elseif}
                        </div>
                        {if $type == "song"}
                        <ul class="pagination pagination">
                            {if $pagination->currentPage > $pagination->firstPage}
                                <li><a href="{echo $pagination->pageRoot}&amp;page={echo ($pagination->currentPage - 1)}"><i class="fa fa-chevron-left"></i></a></li>
                            {/if}
                            {foreach $c in $pagination->count}
                            <li class="{if $c == $pagination->currentPage}active{/if}"><a href="{echo $pagination->pageRoot}&amp;page={echo $c}">{echo $c}</a></li>
                            {/foreach}
                            {if $pagination->currentPage < $pagination->lastPage}
                                <li><a href="{echo $pagination->pageRoot}&amp;page={echo ($pagination->currentPage + 1)}"><i class="fa fa-chevron-right"></i></a></li>
                            {/if}
                        </ul>
                        {/if}
                    </section>
                    <footer class="footer bg-info dker">
                        {include layouts/navigation/footers.html}
                    </footer>
                </section>
            </section>
            {if $type == "song"}
            <!-- side content -->
            <aside class="aside-md bg-light dk" id="sidebar">
                {include layouts/navigation/sidebar.html}
            </aside>
            <!-- / side content -->
            {/if}
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
</section>
