<section class="hbox stretch">
    {include layouts/navigation/standard.html}
    {include home/play_video.html}
    <section id="content">
        <section class="vbox" id="bjax-el">
            <section class="scrollable padder-lg">
                {if $results}
                    <h1 class="font-thin m-b">Video List:</h1>
                    <div class="row row-sm">
                    {foreach $result in $results}
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n">
                                            <a data-track="{echo $result->title}" data-yid="{echo $result->videoId}" href="#" class="playThisVideo"><i class="fa fa-play-circle i-2x"></i></a>
                                        </div>
                                    </div>
                                    <img src="{echo $result->img}" alt="" class="r r-2x img-full">
                                </div>
                                <div class="padder-v">
                                    <a data-replace="true" data-track="{echo $result->title}" data-yid="{echo $result->videoId}" href="#" class="playThisVideo text-ellipsis">{echo $result->title}</a>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                    </div>
                    <ul class="pagination pagination">
                        {if $pagination->currentPage > $pagination->firstPage}
                            <li><a href="{echo $pagination->pageRoot . ($pagination->currentPage - 1)}"><i class="fa fa-chevron-left"></i> Previous Page</a></li>
                        {/if}
                        {if $pagination->currentPage < $pagination->lastPage}
                            <li><a href="{echo $pagination->pageRoot . ($pagination->currentPage + 1)}"><i class="fa fa-chevron-right"></i> Next Page</a></li>
                        {/if}
                    </ul>
                {/if}
                {elseif $error}
                    {echo $error}
                {/elseif}
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
</section>
