<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Genres</h1>
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S. No.</th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $i = 1}
                        {foreach $genre in $genres}
                        <tr>
                            <td>{echo $i}</td>
                            <td>{echo $genre->title}</td>
                            <td>
                                <a href="/albums/genres/{echo $genre->id}" class="btn btn-xs btn-info"><i class="fa fa-object-ungroup"></i> View Albums</a>&nbsp;
                                <a href="/songs/genres/{echo $genre->id}" class="btn btn-xs btn-info"><i class="fa fa-object-ungroup"></i> View Songs</a>&nbsp;
                                <a href="/genres/edit/{$genre->id}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Edit</a>
                            </td>
                        </tr>
                        {script $i++}
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <a href="/genres/edit" class="btn btn-primary"><i class="fa fa-plus"></i> Add new</a>
        </div>
    </div>
</div>