<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xl">
        <a class="navbar-brand block" href="/index"><span class="h1 font-bold">Musik</span></a>
        <section class="m-b-lg">
            <header class="wrapper text-center"> <strong>Login to get in touch</strong> </header>
            {if isset($error)}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {echo $error}
            </div>
            {/if}
            <form action="" method="post">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control rounded input-lg text-center no-border" required=""> </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control rounded input-lg text-center no-border" required=""> </div>
                <input type="hidden" name="action" value="login">
                <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Login</span></button>
                <div class="text-center m-t m-b">
                    <a href="#"><small>Forgot password?</small></a>
                </div>
                <div class="line line-dashed"></div>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a href="/signup" class="btn btn-lg btn-info btn-block rounded">Create an account</a>
            </form>
        </section>
    </div>
</section>
