<section id="content" class="m-t-lg wrapper-md animated fadeInDown">
    <div class="container aside-xl">
        <a class="navbar-brand block" href="index.html"><span class="h1 font-bold">Musik</span></a>
        <section class="m-b-lg">
            <header class="wrapper text-center"> <strong>Sign up to find interesting thing</strong> </header>
            {if isset($message)}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {echo $message}
            </div>
            {/if}
            <form action="" method="post">
                <div class="form-group">
                    <input placeholder="Name" name="name" class="form-control rounded input-lg text-center no-border" required=""> </div>
                <div class="form-group">
                    <input type="email" placeholder="Email" name="email" class="form-control rounded input-lg text-center no-border" required=""> </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" class="form-control rounded input-lg text-center no-border" required=""> </div>
                <div class="form-group">
                    <input type="password" placeholder="Confirm Your Password" name="confirm" class="form-control rounded input-lg text-center no-border" required=""> </div>
                <div class="checkbox i-checks m-b">
                    <label class="m-l">
                        <input type="checkbox" checked="" required=""><i></i> Agree the
                        <a href="#">terms and policy</a>
                    </label>
                </div>
                <input type="hidden" name="action" value="signup">
                <input type="hidden" id="accessToken" name="token" value="{echo $token}">
                <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign up</span></button>
                <div class="line line-dashed"></div>
            </form>
            <button href="#" id="fbLogin" class="btn btn-primary btn-lg btn-block b-2x btn-rounded text-center"><i class="fa fa-facebook"></i> <span class="m-r-n-lg">SignUp with Facebook</span></button>
            <div class="line line-dashed"></div>
            <a href="/login" class="btn btn-lg btn-info btn-block b-2x btn-rounded text-center"><span class="m-r-n-lg">Already Have an account? <strong>Login!</strong></span></a>
        </section>
    </div>
</section>
