<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User Stats</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div>
                <form class="pull-right form-inline" action="" method="get">
                    <div class="form-group">
                        <label for="perPage">Per Page:</label>
                        <input size="3" type="text" maxlength="3" pattern="[1-9]{1}[0-9}{1,2}" name="limit" value="{echo $limit}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pageNo">Page No:</label>
                        <input size="3" type="text" name="page" class="form-control" value="{echo $page}">
                    </div>
                    <!-- <div class="form-group">
                        <label for="pageNo">Order By:</label>
                        <select class="form-control" name="orderBy">
                            <option value="id">Id</option>
                            <option value="created" selected="">Created</option>
                            <option value="modified">Modified</option>
                        </select> 
                    </div> -->
                    <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Go</button>
                </form>
                <p class="page-heading pull-left">Total: {echo $count}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-center">Registered Users</p>
                </div>
                <!-- /.panel-heading -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Joined</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $i = 1} {foreach $usr in $results}
                        <tr>
                            <td>{echo $i}</td>
                            <td>{echo $usr->name}</td>
                            <td>{echo $usr->email}</td>
                            {if $usr->admin}
                            <td>
                                <div class="label label-success">Admin</div>
                            </td>
                            {/if} {else}
                            <td>
                                <div class="label label-warning">User</div>
                            </td>
                            {/else}
                            <td>{echo Framework\StringMethods::only_date($usr->created)}</td>
                            <td>
                                <a href="/admin/update/User/{echo $usr->id}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                <a href="/admin/delete/User/{echo $usr->id}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</a>
                            </td>
                        </tr>
                        {script ++$i} {/foreach}
                    </tbody>
                </table>
                <div class="panel-body">
                    <div class="text-center">
                    {if($page != 1)}
                        <a href="{echo Shared\Markup::pagination($page - 1)}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Previous</a>
                    {/if}
                    {if($page < $count/$limit)}
                        <a href="{echo Shared\Markup::pagination($page + 1)}" class="btn btn-primary">Next <i class="fa fa-arrow-right"></i></a>
                    {/if}
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
