<option value="Art Punk">
<option value="Alternative Rock">
<option value="College Rock">
<option value="Experimental Rock">
<option value="Goth / Gothic Rock">
<option value="Grunge">
<option value="Hardcore Punk">
<option value="Hard Rock">
<option value="Indie Rock">
<option value="Lo-fi">
<option value="New Wave">
<option value="Progressive Rock">
<option value="Punk">
<option value="Acoustic Blues">
<option value="Chicago Blues">
<option value="Classic Blues">
<option value="Contemporary Blues">
<option value="Country Blues">
<option value="Delta Blues">
<option value="Electric Blues">
<option value="Avant-Garde">
<option value="Baroque">
<option value="Chamber Music">
<option value="Chant">
<option value="Choral">
<option value="Classical Crossover">
<option value="Early Music">
<option value="High Classical">
<option value="Impressionist">
<option value="Medieval">
<option value="Minimalism">
<option value="Modern Composition">
<option value="Opera">
<option value="Orchestral">
<option value="Renaissance">
<option value="Romantic">
<option value="Wedding Music">
<option value="Alternative Country">
<option value="Americana">
<option value="Bluegrass">
<option value="Contemporary Bluegrass">
<option value="Contemporary Country">
<option value="Country Gospel">
<option value="Country Pop">
<option value="Honky Tonk">
<option value="Outlaw Country">
<option value="Traditional Bluegrass">
<option value="Traditional Country">
<option value="Urban Cowboy">
<option value="Club / Club Dance">
<option value="Breakbeat">
<option value="Brostep">
<option value="Deep House">
<option value="Dubstep">
<option value="Electro House">
<option value="Exercise">
<option value="Garage">
<option value="Glitch Hop">
<option value="Hardcore">
<option value="Hard Dance">
<option value="Hi-NRG / Eurodance">
<option value="House">
<option value="Jackin House">
<option value="Jungle / Drum&#8217;n&#8217;bass">
<option value="Regstep">
<option value="Techno">
<option value="Trance">
<option value="Bassline">
<option value="Chiptune">
<option value="Crunk">
<option value="Downtempo">
<option value="Drum">
<option value="Electro">
<option value="Electro-swing">
<option value="Electronica">
<option value="Electronic Rock">
<option value="Hardstyle">
<option value="IDM/Experimental">
<option value="Industrial">
<option value="Alternative Rap">
<option value="Bounce">
<option value="Dirty South">
<option value="East Coast Rap">
<option value="Gangsta Rap">
<option value="Hardcore Rap">
<option value="Hip-Hop">
<option value="Latin Rap">
<option value="Old School Rap">
<option value="Rap">
<option value="Underground Rap">
<option value="West Coast Rap">
<option value="Acid Jazz">
<option value="Avant-Garde Jazz">
<option value="Bebop">
<option value="Big Band">
<option value="Blue Note">
<option value="Contemporary Jazz">
<option value="Cool">
<option value="Crossover Jazz">
<option value="Dixieland">
<option value="Ethio-jazz">
<option value="Fusion">
<option value="Gypsy Jazz">
<option value="Hard Bop">
<option value="Latin Jazz">
<option value="Mainstream Jazz">
<option value="Ragtime">
<option value="Smooth Jazz">
<option value="Trad Jazz">
<option value="Baladas y Boleros">
<option value="Bossa Nova">
<option value="Brazilian">
<option value="Contemporary Latin">
<option value="Flamenco / Spanish Flamenco">
<option value="Latin Jazz">
<option value="Nuevo Flamenco">
<option value="Opera">
<option value="Pop Latino">
<option value="Portuguese fado">
<option value="Raíces">
<option value="Reggaeton y Hip-Hop">
<option value="Regional Mexicano">
<option value="Salsa y Tropical">
<option value="Pop">
<option value="Adult Contemporary">
<option value="Britpop">
<option value="Bubblegum Pop">
<option value="Chamber Pop">
<option value="Dance Pop">
<option value="Dream Pop">
<option value="Electro Pop">
<option value="Orchestral Pop">
<option value="Pop/Rock">
<option value="Power Pop">
<option value="Soft Rock">
<option value="Synthpop">
<option value="Teen Pop">
<option value="Pagge">
<option value="Acid Rock">
<option value="Adult-Oriented Rock">
<option value="Afro Punk">
<option value="Adult Alternative">
<option value="Alternative Rock">
<option value="American Trad Rock">
<option value="Anatolian Rock">
<option value="Arena Rock">
<option value="Art Rock">
<option value="Blues-Rock">
<option value="British Invasion">
<option value="Death Metal / Black Metal">
<option value="Glam Rock">
<option value="Gothic Metal">
<option value="Hair Metal">
<option value="Hard Rock">
<option value="Metal">
<option value="Noise Rock">
<option value="Jam Bands">
<option value="Post Punk">
<option value="Prog-Rock/Art Rock">
<option value="Psychedelic">
<option value="Rock">
<option value="Roots Rock">
<option value="Singer/Songwriter">
<option value="Southern Rock">
<option value="Surf">
<option value="Tex-Mex">
<option value="Alternative Folk">
<option value="Contemporary Folk">
<option value="Contemporary Singer/Songwriter">
<option value="Indie Folk">
<option value="Folk-Rock">
<option value="Love Song">
<option value="New Acoustic">
<option value="Traditional Folk">
<option value="Africa">
<option value="Afro-Beat">
<option value="Afro-Pop">
<option value="Asia">
<option value="Australia">
<option value="Cajun">
<option value="Calypso">
<option value="Caribbean">
<option value="Celtic">
<option value="Celtic Folk">
<option value="Contemporary Celtic">
<option value="Dangdut">
<option value="Drinking Songs">
<option value="Drone">
<option value="Europe">
<option value="France">
<option value="Hawaii">
<option value="Indian Ghazal">
<option value="Indian Pop">
<option value="Japan">
<option value="Japanese Pop">
<option value="Klezmer">
<option value="Middle East">
<option value="North America">
<option value="Ode">
<option value="Polka">
<option value="Soca">
<option value="South Africa">
<option value="South America">
<option value="Traditional Celtic">
<option value="Worldbeat">
<option value="Zydeco">