<section class="hbox stretch">
    {include layouts/navigation/standard.html}
    <section id="content">
        <section class="hbox stretch">
            <section>
                    <section class="vbox" id="bjax-el">
                        <section class="scrollable wrapper-lg">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="panel wrapper-lg">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="{echo $artist->image}" class="img-full m-b">
                                            </div>
                                            <div class="col-sm-7">
                                                <h2 class="m-t-none text-black">{echo $artist->name}</h2>
                                                <div class="clearfix m-b-lg">
                                                   <h6 class="page-heading">Play Count: <strong>{echo $artist->playCount}</strong></h6>
                                                    <h6 class="page-heading">Listeners: <strong>{echo $artist->listeners}</strong></h6>

                                                    <a href="#" class="btn btn-default addToPlaylistArtist" data-artist="{echo $artist->name}" data-mbid="{echo $artist->mbid}">Add To Playlist</a>
                                                </div>
                                                <div> Tags:
                                                {foreach $tag in $artist->tags}
                                                    <a href="/genres/{echo Framework\StringMethods::url($tag->name)}" class="badge bg-light">{echo $tag->name}</a>
                                                {/foreach}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-t">
                                            <p>{echo $artist->bio->summary}</p>
                                        </div>
                                        <h4 class="m-t-lg m-b">Play List</h4>
                                        <ul class="list-group list-group-lg">
                                        {foreach $track in $tracks}
                                            <li class="list-group-item">
                                                <div class="pull-right m-l">
                                                    <a href="/tracks/view/{echo Framework\StringMethods::url($track->name)}/{echo Framework\StringMethods::url($artist->name)}" data-mbid="{echo $track->mbid}" data-artist="{echo $artist->name}" data-track="{echo $track->name}"><i class="m-r-sm icon-info"></i></a>
                                                    <a href="#" class="m-r-sm addToPlaylist" data-mbid="{echo $track->mbid}" data-artist="{echo $artist->name}" data-track="{echo $track->name}"><i class="icon-plus"></i></a>
                                                    
                                                </div>
                                                <a href="#" class="jp-play-me m-r-sm pull-left playThisTrack" data-mbid="{echo $track->mbid}" data-artist="{echo $artist->name}" data-track="{echo $track->name}"> <i class="icon-control-play text"></i> <i class="icon-control-pause text-active"></i> </a>
                                                <div class="clear text-ellipsis"> <span>{echo $track->name}</span> <span class="text-muted"></span> </div>
                                            </li>
                                        {/foreach}
                                        </ul>
                                        {if isset($comment)}
                                        <h4 class="m-t-lg m-b">3 Comments</h4>
                                        <section class="comment-list block">
                                            <article id="comment-id-1" class="comment-item">
                                                <a class="pull-left thumb-sm">
                                                    <img src="{echo CDN}images/a0.png" class="img-circle"> </a>
                                                <section class="comment-body m-b">
                                                    <header>
                                                        <a href="#"><strong>John smith</strong></a>
                                                        <label class="label bg-info m-l-xs">Editor</label> <span class="text-muted text-xs block m-t-xs"> 24 minutes ago </span> </header>
                                                    <div class="m-t-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum.</div>
                                                </section>
                                            </article>
                                            <!-- .comment-reply -->
                                            <article id="comment-id-2" class="comment-item comment-reply">
                                                <a class="pull-left thumb-sm">
                                                    <img src="{echo CDN}images/a1.png" class="img-circle"> </a>
                                                <section class="comment-body m-b">
                                                    <header>
                                                        <a href="#"><strong>John smith</strong></a>
                                                        <label class="label bg-dark m-l-xs">Admin</label> <span class="text-muted text-xs block m-t-xs"> 26 minutes ago </span> </header>
                                                    <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
                                                </section>
                                            </article>
                                            <!-- / .comment-reply -->
                                            <article id="comment-id-2" class="comment-item">
                                                <a class="pull-left thumb-sm">
                                                    <img src="{echo CDN}images/a2.png" class="img-circle"> </a>
                                                <section class="comment-body m-b">
                                                    <header>
                                                        <a href="#"><strong>John smith</strong></a>
                                                        <label class="label bg-dark m-l-xs">Admin</label> <span class="text-muted text-xs block m-t-xs"> 26 minutes ago </span> </header>
                                                    <blockquote class="m-t">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p> <small>Someone famous in <cite title="Source Title">Source Title</cite></small> </blockquote>
                                                    <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
                                                </section>
                                            </article>
                                        </section>
                                        <h4 class="m-t-lg m-b">Leave a comment</h4>
                                        <form>
                                            <div class="form-group pull-in clearfix">
                                                <div class="col-sm-6">
                                                    <label>Your name</label>
                                                    <input type="text" class="form-control" placeholder="Name"> </div>
                                                <div class="col-sm-6">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control" placeholder="Enter email"> </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Comment</label>
                                                <textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Submit comment</button>
                                            </div>
                                        </form>
                                        {/if}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Similar Artists</div>
                                        <div class="panel-body">
                                        {foreach $s in $similar}
                                            <article class="media">
                                                <a href="#" class="pull-left thumb-md m-t-xs">
                                                    <img src="{echo $s->thumbnail}"> </a>
                                                <div class="media-body">
                                                    <a href="/artists/view/{echo Framework\StringMethods::url($s->name)}" class="font-semibold">{echo $s->name}</a>
                                                </div>
                                            </article>
                                        {/foreach}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <footer class="footer bg-info dker">
                            {include layouts/navigation/footers.html}
                        </footer>
                    </section>
                </section>
            </section>
            <!-- side content -->
            <aside class="aside-md bg-light dk" id="sidebar">
                {include layouts/navigation/sidebar.html}
            </aside>
            <!-- / side content -->
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
</section>
