<section class="hbox stretch">
    {include layouts/navigation/standard.html}
    <section id="content">
        <section class="hbox stretch">
            <section>
                <section class="vbox" id="bjax-el">
                    <section class="scrollable wrapper-lg">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="panel wrapper-lg">
                                {if isset($error)}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    {echo $error}
                                </div>
                                {/if}
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img src="{echo $artist->image}" class="img-full m-b">
                                        </div>
                                        <div class="col-sm-7">
                                            <h2 class="m-t-none text-black">{echo $artist->name}</h2>
                                            <div class="clearfix m-b-lg">
                                               <h6 class="page-heading">Play Count: <strong>{echo $artist->playCount}</strong></h6>
                                                <h6 class="page-heading">Listeners: <strong>{echo $artist->listeners}</strong></h6>

                                                <a href="#" class="hide btn btn-default addToPlaylistArtist" data-artist="{echo $artist->name}" data-mbid="{echo $artist->mbid}">Add To Playlist</a>
                                            </div>
                                            <div> Tags:
                                            {foreach $tag in $artist->tags}
                                                <a href="/genres/{echo Framework\StringMethods::url($tag->name)}" class="badge bg-light">{echo $tag->name}</a>
                                            {/foreach}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t">
                                        <p>{echo $artist->bio->summary}</p>
                                    </div>
                                    <h3 class="m-t-lg m-b">Top Tracks:</h3>
                                    <ul class="list-group list-group-lg">
                                    {foreach $track in $tracks}
                                        <li class="list-group-item">
                                            <div class="pull-right m-l">
                                                <a href="/tracks/view/{echo Framework\StringMethods::url($track->name)}/{echo Framework\StringMethods::url($artist->name)}" data-mbid="{echo $track->mbid}" data-artist="{echo $artist->name}" data-track="{echo $track->name}">
                                                    <i class="m-r-sm icon-info fa-lg"></i>
                                                </a>
                                                <a href="#jp_container_N" class="m-r-sm addToPlaylist" data-mbid="{echo $track->mbid}" data-artist="{echo $artist->name}" data-track="{echo $track->name}">
                                                    <i class="icon-plus fa-lg"></i>
                                                </a>
                                            </div>
                                            <a href="#jp_container_N" class="jp-play-me m-r-sm pull-left playThisTrack" data-mbid="{echo $track->mbid}" data-artist="{echo $artist->name}" data-track="{echo $track->name}">
                                                <i class="icon-control-play fa-lg text"></i>
                                            </a>
                                            <div class="clear text-ellipsis"> 
                                                <a href="/tracks/view/{echo Framework\StringMethods::url($track->name)}/{echo Framework\StringMethods::url($artist->name)}" data-mbid="{echo $track->mbid}" data-artist="{echo $artist->name}" data-track="{echo $track->name}">
                                                    <span class="trackName">{echo $track->name}</span>
                                                </a>
                                            </div>
                                            
                                        </li>
                                    {/foreach}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Similar Artists</div>
                                    <div class="panel-body">
                                    {foreach $s in $similar}
                                        <article class="media">
                                            <a href="/artists/view/{echo Framework\StringMethods::url($s->name)}" class="pull-left thumb-md m-t-xs">
                                                <img src="{echo $s->thumbnail}"> </a>
                                            <div class="media-body">
                                                <a href="/artists/view/{echo Framework\StringMethods::url($s->name)}" class="font-semibold">{echo $s->name}</a>
                                            </div>
                                        </article>
                                    {/foreach}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="footer bg-info dker">
                        {include layouts/navigation/footers.html}
                    </footer>
                </section>
            </section>
            <!-- side content -->
            <aside class="aside-md bg-light dk" id="sidebar">
                {include layouts/navigation/sidebar.html}
            </aside>
            <!-- / side content -->
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
</section>
